In [37]:
import pandas as pd
import os
from utils import drop_categorical_columns
from utils import missing_values_table
import numpy as np

In [38]:
def drop_label_with_null(df, column_name):
    # Drop rows where the specified column is null
    df_cleaned = df.dropna(subset=[column_name])
    return df_cleaned

In [39]:
headers = [
        'state', 'county', 'community', 'communityname', 'fold', 'population', 'householdsize',
        'racepctblack', 'racePctWhite', 'racePctAsian', 'racePctHisp', 'agePct12t21', 'agePct12t29',
        'agePct16t24', 'agePct65up', 'numbUrban', 'pctUrban', 'medIncome', 'pctWWage', 'pctWFarmSelf',
        'pctWInvInc', 'pctWSocSec', 'pctWPubAsst', 'pctWRetire', 'medFamInc', 'perCapInc', 'whitePerCap',
        'blackPerCap', 'indianPerCap', 'AsianPerCap', 'OtherPerCap', 'HispPerCap', 'NumUnderPov',
        'PctPopUnderPov', 'PctLess9thGrade', 'PctNotHSGrad', 'PctBSorMore', 'PctUnemployed',
        'PctEmploy', 'PctEmplManu', 'PctEmplProfServ', 'PctOccupManu', 'PctOccupMgmtProf',
        'MalePctDivorce', 'MalePctNevMarr', 'FemalePctDiv', 'TotalPctDiv', 'PersPerFam', 'PctFam2Par',
        'PctKids2Par', 'PctYoungKids2Par', 'PctTeen2Par', 'PctWorkMomYoungKids', 'PctWorkMom',
        'NumIlleg', 'PctIlleg', 'NumImmig', 'PctImmigRecent', 'PctImmigRec5', 'PctImmigRec8',
        'PctImmigRec10', 'PctRecentImmig', 'PctRecImmig5', 'PctRecImmig8', 'PctRecImmig10',
        'PctSpeakEnglOnly', 'PctNotSpeakEnglWell', 'PctLargHouseFam', 'PctLargHouseOccup',
        'PersPerOccupHous', 'PersPerOwnOccHous', 'PersPerRentOccHous', 'PctPersOwnOccup',
        'PctPersDenseHous', 'PctHousLess3BR', 'MedNumBR', 'HousVacant', 'PctHousOccup',
        'PctHousOwnOcc', 'PctVacantBoarded', 'PctVacMore6Mos', 'MedYrHousBuilt', 'PctHousNoPhone',
        'PctWOFullPlumb', 'OwnOccLowQuart', 'OwnOccMedVal', 'OwnOccHiQuart', 'RentLowQ', 'RentMedian',
        'RentHighQ', 'MedRent', 'MedRentPctHousInc', 'MedOwnCostPctInc', 'MedOwnCostPctIncNoMtg',
        'NumInShelters', 'NumStreet', 'PctForeignBorn', 'PctBornSameState', 'PctSameHouse85',
        'PctSameCity85', 'PctSameState85', 'LemasSwornFT', 'LemasSwFTPerPop', 'LemasSwFTFieldOps',
        'LemasSwFTFieldPerPop', 'LemasTotalReq', 'LemasTotReqPerPop', 'PolicReqPerOffic',
        'PolicPerPop', 'RacialMatchCommPol', 'PctPolicWhite', 'PctPolicBlack', 'PctPolicHisp',
        'PctPolicAsian', 'PctPolicMinor', 'OfficAssgnDrugUnits', 'NumKindsDrugsSeiz',
        'PolicAveOTWorked', 'LandArea', 'PopDens', 'PctUsePubTrans', 'PolicCars', 'PolicOperBudg',
        'LemasPctPolicOnPatr', 'LemasGangUnitDeploy', 'LemasPctOfficDrugUn', 'PolicBudgPerPop',
        'ViolentCrimesPerPop'
    ]

In [40]:
path = os.path.join('data', 'communities+and+crime/communities.data')
df = pd.read_csv(path, header=None, names=headers)
# Replace all occurrences of -200 with NaN
df.replace('?', np.nan, inplace=True)
df.head(5)

,state,county,community,communityname,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,LandArea,PopDens,PctUsePubTrans,PolicCars,PolicOperBudg,LemasPctPolicOnPatr,LemasGangUnitDeploy,LemasPctOfficDrugUn,PolicBudgPerPop,ViolentCrimesPerPop
0,8,NaN,NaN,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,NaN,NaN,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,NaN,NaN,NaN,NaN,0.00,NaN,0.67
2,24,NaN,NaN,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,NaN,NaN,NaN,NaN,0.00,NaN,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.03

In [41]:
df.shape

(1994, 128)

In [31]:
missing_values_table(df)

Your selected dataframe has 128 columns.
There are 25 columns that have missing values.

                      Missing Values  % of Total Values Data Type
PctPolicWhite                   1675               84.0    object
PctPolicBlack                   1675               84.0    object
LemasGangUnitDeploy             1675               84.0    object
LemasPctPolicOnPatr             1675               84.0    object
PolicOperBudg                   1675               84.0    object
PolicCars                       1675               84.0    object
PolicAveOTWorked                1675               84.0    object
NumKindsDrugsSeiz               1675               84.0    object
OfficAssgnDrugUnits             1675               84.0    object
PctPolicMinor                   1675               84.0    object
PctPolicAsian                   1675               84.0    object
PctPolicHisp                    1675               84.0    object
PolicBudgPerPop                 1675               84.0    object
RacialMatchCommPol              1675               84.0    object
PolicPerPop                     1675               84.0    object
PolicReqPerOffic                1675               84.0    object
LemasTotReqPerPop               1675               84.0    object
LemasTotalReq                   1675               84.0    object
LemasSwFTFieldPerPop            1675               84.0    object
LemasSwFTFieldOps               1675               84.0    object
LemasSwFTPerPop                 1675               84.0    object
LemasSwornFT                    1675               84.0    object
community                       1177               59.0    object
county                          1174               58.9    object
OtherPerCap                        1                0.1    object

In [32]:
df['ViolentCrimesPerPop'].value_counts()

ViolentCrimesPerPop
0.03    104
0.04     92
0.06     86
0.05     80
0.02     74
       ...
0.79      2
0.77      1
0.89      1
0.94      1
0.96      1
Name: count, Length: 98, dtype: int64

In [33]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
print(len(categorical_columns))
for col in categorical_columns:
    df[col] = pd.to_numeric(df[col], errors='ignore')
# after those are taken care of we can drop the columns that are still object
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
print(categorical_columns)

26
['communityname']

In [34]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Select categorical columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()

# Create a copy of the original dataframe to preserve the original columns
df_encoded = df.copy()

# Create an empty DataFrame to store the encoded columns
encoded_data_frames = []

# Define a list of transformers for each categorical column
for col in categorical_columns:

    # Create dummy variables using OneHotEncoder
    encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
    encoded_data = encoder.fit_transform(df_encoded[[col]])

    # Get column names based on the original column and category
    column_names = [category for category in encoder.get_feature_names_out([col])]

    # Create a DataFrame for the encoded data
    encoded_df = pd.DataFrame(encoded_data, columns=column_names, index=df_encoded.index)

    # Add the encoded DataFrame to the list
    encoded_data_frames.append(encoded_df)

# Concatenate the original DataFrame and the list of encoded DataFrames
df_encoded = pd.concat([df_encoded] + encoded_data_frames, axis=1)

# Drop the original categorical columns
df_encoded.drop(categorical_columns, axis=1, inplace=True)

/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [35]:
missing_values_table(df_encoded)

Your selected dataframe has 1955 columns.
There are 25 columns that have missing values.

                      Missing Values  % of Total Values Data Type
PctPolicWhite                   1675               84.0   float64
PctPolicBlack                   1675               84.0   float64
LemasGangUnitDeploy             1675               84.0   float64
LemasPctPolicOnPatr             1675               84.0   float64
PolicOperBudg                   1675               84.0   float64
PolicCars                       1675               84.0   float64
PolicAveOTWorked                1675               84.0   float64
NumKindsDrugsSeiz               1675               84.0   float64
OfficAssgnDrugUnits             1675               84.0   float64
PctPolicMinor                   1675               84.0   float64
PctPolicAsian                   1675               84.0   float64
PctPolicHisp                    1675               84.0   float64
PolicBudgPerPop                 1675               84.0   float64
RacialMatchCommPol              1675               84.0   float64
PolicPerPop                     1675               84.0   float64
PolicReqPerOffic                1675               84.0   float64
LemasTotReqPerPop               1675               84.0   float64
LemasTotalReq                   1675               84.0   float64
LemasSwFTFieldPerPop            1675               84.0   float64
LemasSwFTFieldOps               1675               84.0   float64
LemasSwFTPerPop                 1675               84.0   float64
LemasSwornFT                    1675               84.0   float64
community                       1177               59.0   float64
county                          1174               58.9   float64
OtherPerCap                        1                0.1   float64

In [36]:
df_encoded.dtypes

state                             int64
county                          float64
community                       float64
fold                              int64
population                      float64
                                 ...
communityname_Youngstowncity    float64
communityname_YubaCitycity      float64
communityname_Yucaipacity       float64
communityname_Yukoncity         float64
communityname_Zanesvillecity    float64
Length: 1955, dtype: object

In [25]:
path = os.path.join('Final-Datasets', 'CommunitiesAndCrime.csv')

In [26]:
df_encoded.to_csv(path,index=False)