In [5]:
import pandas as pd
import os

In [10]:
def drop_label_with_null(df, column_name):
    # Drop rows where the specified column is null
    df_cleaned = df.dropna(subset=[column_name])

    return df_cleaned

In [11]:
path = os.path.join('Final-Datasets', 'Air-Quality.csv')
original = pd.read_csv(path)
original.shape

(9357, 14)

In [12]:
original.columns

Index(['Unnamed: 0', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH'],
      dtype='object')

In [13]:
original.drop(columns=['Unnamed: 0'],inplace=True)

In [14]:
original.head(5)

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [7]:
original['4'].value_counts()

4
-3.919010      212232
-4.000000       63356
 46.065500      18991
 34.536000      13451
-3.838040       12081
                ...
 99.509600          1
 77.988800          1
 101.332000         1
 109.082000         1
 0.859505           1
Name: count, Length: 1990, dtype: int64

In [32]:
df=original

In [33]:
# Convert date and time columns to datetime format
df['1'] = pd.to_datetime(df['1'])
df['2'] = pd.to_datetime(df['2']).dt.time

# Extract year, month, day from the date column
df['year'] = df['1'].dt.year
df['month'] = df['1'].dt.month
df['day'] = df['1'].dt.day

# Extract hour, minute, second from the time column
df['hour'] = df['2'].apply(lambda x: x.hour)
df['minute'] = df['2'].apply(lambda x: x.minute)
df['second'] = df['2'].apply(lambda x: x.second)

# Drop the original date and time columns
df = df.drop(['1', '2'], axis=1)

/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_55564/2799700112.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['2'] = pd.to_datetime(df['2']).dt.time

In [34]:
df.head(3)

,3,4,5,6,7,8,year,month,day,hour,minute,second
0,2,0,122.1530,-3.91901,11.04,2.03397,2004,3,31,3,38,15
1,3,0,19.9884,37.09330,45.08,2.69964,2004,2,28,0,59,16
2,11,0,19.3024,38.46290,45.08,2.68742,2004,2,28,1,3,16

In [35]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
print(len(categorical_columns))
for col in categorical_columns:
    df[col] = pd.to_numeric(df[col], errors='ignore')
# after those are taken care of we can drop the columns that are still object
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
print(len(categorical_columns))

0
0

In [36]:
# Generate column names as strings '1', '2', '3', ..., 'n' where n is the number of columns
column_names = [str(i) for i in range(1, len(df.columns) + 1)]

# Assign the generated column names to the DataFrame
df.columns = column_names

In [37]:
df.head(5)

    1  2         3         4      5        6     7  8   9  10  11  12
0   2  0  122.1530  -3.91901  11.04  2.03397  2004  3  31   3  38  15
1   3  0   19.9884  37.09330  45.08  2.69964  2004  2  28   0  59  16
2  11  0   19.3024  38.46290  45.08  2.68742  2004  2  28   1   3  16
3  17  0   19.1652  38.80390  45.08  2.68742  2004  2  28   1   6  16
4  18  0   19.1750  38.83790  45.08  2.69964  2004  2  28   1   6  46

In [38]:
df.dtypes

1       int64
2       int64
3     float64
4     float64
5     float64
6     float64
7       int32
8       int32
9       int32
10      int64
11      int64
12      int64
dtype: object

In [39]:
df.head(4)

    1  2         3         4      5        6     7  8   9  10  11  12
0   2  0  122.1530  -3.91901  11.04  2.03397  2004  3  31   3  38  15
1   3  0   19.9884  37.09330  45.08  2.69964  2004  2  28   0  59  16
2  11  0   19.3024  38.46290  45.08  2.68742  2004  2  28   1   3  16
3  17  0   19.1652  38.80390  45.08  2.68742  2004  2  28   1   6  16

In [40]:
missing_values_table(df)

Your selected dataframe has 12 columns.
There are 4 columns that have missing values.

   Missing Values  % of Total Values Data Type
5           93878                4.1   float64
4             902                0.0   float64
3             901                0.0   float64
6             526                0.0   float64

In [41]:
path = os.path.join('Final-Datasets', 'intel-sensor-data.csv')

In [42]:
df.to_csv(path,index=False)