In [263]:
import pandas as pd
import os
from utils import drop_categorical_columns
from utils import missing_values_table

In [264]:
def drop_label_with_null(df, column_name):
    # Drop rows where the specified column is null
    df_cleaned = df.dropna(subset=[column_name])

    return df_cleaned

In [265]:
path = os.path.join('TestDataset', 'NFL.csv')
original = pd.read_csv(path,index_col=0)
original.shape

/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_56235/4154952505.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  original = pd.read_csv(path,index_col=0)

(46129, 65)

In [266]:
dropped=drop_label_with_null(original, 'ScoreDiff')
dropped.shape

(42878, 65)

In [267]:
dropped.head(3)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,Accepted.Penalty,PenalizedTeam,PenaltyType,PenalizedPlayer,Penalty.Yards,PosTeamScore,DefTeamScore,ScoreDiff,AbsScoreDiff,Season
36,2015-09-10,2015091000,1,1,NaN,15:00,15,3600.0,0.0,NE,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015
51,2015-09-10,2015091000,1,1,1.0,15:00,15,3600.0,0.0,PIT,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015
72,2015-09-10,2015091000,1,1,1.0,14:21,15,3561.0,39.0,PIT,...,0,NaN,NaN,NaN,0,0.0,0.0,0.0,0.0,2015

In [268]:
missing_values_table(dropped)

Your selected dataframe has 65 columns.
There are 28 columns that have missing values.

                   Missing Values  % of Total Values Data Type
DefTwoPoint                 42873              100.0    object
BlockingPlayer              42867              100.0    object
TwoPointConv                42789               99.8    object
ChalReplayResult            42465               99.0    object
Interceptor                 42411               98.9    object
RecFumbTeam                 42397               98.9    object
RecFumbPlayer               42397               98.9    object
FieldGoalDistance           41889               97.7   float64
FieldGoalResult             41877               97.7    object
ExPointResult               41747               97.4    object
PenaltyType                 40926               95.4    object
ReturnResult                40534               94.5    object
PuntResult                  40393               94.2    object
Returner                    40380               94.2    object
Tackler2                    39522               92.2    object
PenalizedPlayer             39474               92.1    object
PenalizedTeam               39343               91.8    object
RunGap                      33291               77.6    object
RunLocation                 29912               69.8    object
Rusher                      29812               69.5    object
Receiver                    24420               57.0    object
PassLocation                23587               55.0    object
PassLength                  23587               55.0    object
Passer                      23480               54.8    object
PassOutcome                 23443               54.7    object
Tackler1                    17975               41.9    object
down                         3872                9.0   float64
FirstDown                    2549                5.9   float64

In [269]:
# Convert date and time columns to datetime format
dropped['Date'] = pd.to_datetime(dropped['Date'])


# Extract year, month, day from the date column
dropped['year'] = dropped['Date'].dt.year
dropped['month'] = dropped['Date'].dt.month
dropped['day'] = dropped['Date'].dt.day
dropped['Time_numeric'] = pd.to_datetime(dropped['time'], format='%H:%M').dt.hour * 60 + pd.to_datetime(dropped['time'], format='%H:%M').dt.minute


# Drop the original date and time columns
dropped.drop(['Date','time','desc'], axis=1, inplace=True)

/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_56235/3451176486.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped['Date'] = pd.to_datetime(dropped['Date'])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_56235/3451176486.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped['year'] = dropped['Date'].dt.year
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_56235/3451176486.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped['month'] = dropped['Date'].dt.month
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_56235/3451176486.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped['day'] = dropped['Date'].dt.day
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_56235/3451176486.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped['Time_numeric'] = pd.to_datetime(dropped['time'], format='%H:%M').dt.hour * 60 + pd.to_datetime(dropped['time'], format='%H:%M').dt.minute
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_56235/3451176486.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped.drop(['Date','time','desc'], axis=1, inplace=True)

In [270]:
categorical_columns = dropped.select_dtypes(include=['object', 'category']).columns.tolist()
print(len(categorical_columns))
for col in categorical_columns:
    dropped[col] = pd.to_numeric(dropped[col], errors='ignore')
# after those are taken care of we can drop the columns that are still object
categorical_columns = dropped.select_dtypes(include=['object', 'category']).columns.tolist()
print(categorical_columns)

29
['SideofField', 'posteam', 'DefensiveTeam', 'ExPointResult', 'TwoPointConv', 'DefTwoPoint', 'PuntResult', 'PlayType', 'Passer', 'PassOutcome', 'PassLength', 'PassLocation', 'Interceptor', 'Rusher', 'RunLocation', 'RunGap', 'Receiver', 'ReturnResult', 'Returner', 'BlockingPlayer', 'Tackler1', 'Tackler2', 'FieldGoalResult', 'RecFumbTeam', 'RecFumbPlayer', 'ChalReplayResult', 'PenalizedTeam', 'PenaltyType', 'PenalizedPlayer']

/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_56235/3605230479.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[col] = pd.to_numeric(dropped[col], errors='ignore')

In [271]:
missing_values_table(dropped)

Your selected dataframe has 66 columns.
There are 28 columns that have missing values.

                   Missing Values  % of Total Values Data Type
DefTwoPoint                 42873              100.0    object
BlockingPlayer              42867              100.0    object
TwoPointConv                42789               99.8    object
ChalReplayResult            42465               99.0    object
Interceptor                 42411               98.9    object
RecFumbTeam                 42397               98.9    object
RecFumbPlayer               42397               98.9    object
FieldGoalDistance           41889               97.7   float64
FieldGoalResult             41877               97.7    object
ExPointResult               41747               97.4    object
PenaltyType                 40926               95.4    object
ReturnResult                40534               94.5    object
PuntResult                  40393               94.2    object
Returner                    40380               94.2    object
Tackler2                    39522               92.2    object
PenalizedPlayer             39474               92.1    object
PenalizedTeam               39343               91.8    object
RunGap                      33291               77.6    object
RunLocation                 29912               69.8    object
Rusher                      29812               69.5    object
Receiver                    24420               57.0    object
PassLocation                23587               55.0    object
PassLength                  23587               55.0    object
Passer                      23480               54.8    object
PassOutcome                 23443               54.7    object
Tackler1                    17975               41.9    object
down                         3872                9.0   float64
FirstDown                    2549                5.9   float64

In [272]:
#others then handle nullls

import pandas as pd
from sklearn.preprocessing import OneHotEncoder
df=dropped
# Select categorical columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()

# Create a copy of the original dataframe to preserve the original columns
df_encoded = df.copy()

# Create an empty DataFrame to store the encoded columns
encoded_data_frames = []

# Define a list of transformers for each categorical column
for col in categorical_columns:
    # Replace null values with "Others" in the original column
    df_encoded[col].fillna("Others", inplace=True)

    # Create dummy variables using OneHotEncoder
    encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
    encoded_data = encoder.fit_transform(df_encoded[[col]])

    # Get column names based on the original column and category
    column_names = [category for category in encoder.get_feature_names_out([col])]

    # Create a DataFrame for the encoded data
    encoded_df = pd.DataFrame(encoded_data, columns=column_names, index=df_encoded.index)

    try:
      new_column_name = f"{col}_{'Others'}"
      # Drop the original column and the dummy variables for "Others"

      encoded_df.loc[df[col].isnull(), column_names] = pd.NA
      encoded_df.drop([new_column_name], axis=1, inplace=True)
    except:
      print('This column doesnt have nulls',col)

    # Add the encoded DataFrame to the list
    encoded_data_frames.append(encoded_df)

# Concatenate the original DataFrame and the list of encoded DataFrames
df_encoded = pd.concat([df_encoded] + encoded_data_frames, axis=1)

# Drop the original categorical columns
df_encoded.drop(categorical_columns, axis=1, inplace=True)

# Now, the df_encoded DataFrame contains the changes made to categorical columns, with null values preserved.

/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

This column doesnt have nulls SideofField
This column doesnt have nulls posteam
This column doesnt have nulls DefensiveTeam
This column doesnt have nulls PlayType

/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [273]:
missing_values_table(df)

Your selected dataframe has 66 columns.
There are 28 columns that have missing values.

                   Missing Values  % of Total Values Data Type
DefTwoPoint                 42873              100.0    object
BlockingPlayer              42867              100.0    object
TwoPointConv                42789               99.8    object
ChalReplayResult            42465               99.0    object
Interceptor                 42411               98.9    object
RecFumbTeam                 42397               98.9    object
RecFumbPlayer               42397               98.9    object
FieldGoalDistance           41889               97.7   float64
FieldGoalResult             41877               97.7    object
ExPointResult               41747               97.4    object
PenaltyType                 40926               95.4    object
ReturnResult                40534               94.5    object
PuntResult                  40393               94.2    object
Returner                    40380               94.2    object
Tackler2                    39522               92.2    object
PenalizedPlayer             39474               92.1    object
PenalizedTeam               39343               91.8    object
RunGap                      33291               77.6    object
RunLocation                 29912               69.8    object
Rusher                      29812               69.5    object
Receiver                    24420               57.0    object
PassLocation                23587               55.0    object
PassLength                  23587               55.0    object
Passer                      23480               54.8    object
PassOutcome                 23443               54.7    object
Tackler1                    17975               41.9    object
down                         3872                9.0   float64
FirstDown                    2549                5.9   float64

In [274]:
missing_values_table(df_encoded)

Your selected dataframe has 5166 columns.
There are 5023 columns that have missing values.

                           Missing Values  % of Total Values Data Type
DefTwoPoint_Failure                 42873              100.0   float64
DefTwoPoint_Success                 42873              100.0   float64
BlockingPlayer_J.Johnson            42867              100.0   float64
BlockingPlayer_Z.Vigil              42867              100.0   float64
BlockingPlayer_R.Jennings           42867              100.0   float64
...                                   ...                ...       ...
Tackler1_M.Evans                    17975               41.9   float64
Tackler1_M.Floyd                    17975               41.9   float64
Tackler1_M.Claiborne                17975               41.9   float64
down                                 3872                9.0   float64
FirstDown                            2549                5.9   float64

[5023 rows x 3 columns]

In [275]:
categorical_columns = df_encoded.select_dtypes(include=['object', 'category']).columns.tolist()
print(categorical_columns)

[]

In [276]:
df_encoded.shape

,GameID,Drive,qtr,down,TimeUnder,TimeSecs,PlayTimeDiff,yrdln,yrdline100,ydstogo,...,PenalizedPlayer_Z.Fulton,PenalizedPlayer_Z.Line,PenalizedPlayer_Z.Martin,PenalizedPlayer_Z.Mettenberger,PenalizedPlayer_Z.Miller,PenalizedPlayer_Z.Orr,PenalizedPlayer_Z.Smith,PenalizedPlayer_Z.Stacy,PenalizedPlayer_Z.Strief,PenalizedPlayer_Z.Vigil
36,2015091000,1,1,NaN,15,3600.0,0.0,35.0,35.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2015091000,1,1,1.0,15,3600.0,0.0,20.0,80.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,2015091000,1,1,1.0,15,3561.0,39.0,38.0,62.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2015091000,1,1,2.0,15,3544.0,17.0,47.0,53.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,2015091000,1,1,1.0,14,3506.0,38.0,49.0,49.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,2015091000,1,1,1.0,13,3462.0,44.0,35.0,35.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,2015091000,1,1,1.0,13,3425.0,37.0,24.0,24.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,2015091000,1,1,2.0,12,3380.0,45.0,32.0,32.0,18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
236,2015091000,1,1,2.0,11,3353.0,27.0,42.0,42.0,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,2015091000,1,1,3.0,11,3328.0,25.0,36.0,36.0,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,2015091000,1,1,4.0,10,3284.0,44.0,26.0,26.0,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2015091000,2,1,1.0,10,3280.0,4.0,34.0,66.0,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,2015091000,2,1,1.0,10,3254.0,26.0,32.0,68.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,2015091000,2,1,1.0,9,3240.0,14.0,44.0,56.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,2015091000,2,1,1.0,9,3211.0,29.0,43.0,43.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [277]:
df_encoded.to_csv(os.path.join('Final-Datasets', 'NFL-encoded.csv'),index=False)

In [40]:
from sklearn.preprocessing import LabelEncoder
# Select categorical columns
categorical_columns = dropped.select_dtypes(include=['object', 'category']).columns.tolist()

# Use Label Encoding for each categorical column
label_encoder = LabelEncoder()
for column in categorical_columns:
    dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])

# Drop the original categorical columns
dropped.drop(categorical_columns, axis=1, inplace=True)

/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped[column + '_encoded'] = label_encoder.fit_transform(dropped[column])
/var/folders/w6/jn7_623d6d96165_8x9l_vqh0000gn/T/ipykernel_51037/594425415.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped.drop(categorical_columns, axis=1, inplace=True)

In [41]:
categorical_columns = dropped.select_dtypes(include=['object', 'category']).columns.tolist()
categorical_columns

[]

In [42]:
dropped.head(5)

,GameID,Drive,qtr,down,TimeUnder,TimeSecs,PlayTimeDiff,yrdln,yrdline100,ydstogo,...,BlockingPlayer_encoded,Tackler1_encoded,Tackler2_encoded,FieldGoalResult_encoded,RecFumbTeam_encoded,RecFumbPlayer_encoded,ChalReplayResult_encoded,PenalizedTeam_encoded,PenaltyType_encoded,PenalizedPlayer_encoded
36,2015091000,1,1,NaN,15,3600.0,0.0,35.0,35.0,0,...,11,1236,709,3,32,360,2,32,43,1138
51,2015091000,1,1,1.0,15,3600.0,0.0,20.0,80.0,10,...,11,327,709,3,32,360,2,32,43,1138
72,2015091000,1,1,1.0,15,3561.0,39.0,38.0,62.0,10,...,11,327,709,3,32,360,2,32,43,1138
101,2015091000,1,1,2.0,15,3544.0,17.0,47.0,53.0,1,...,11,530,464,3,32,360,2,32,43,1138
122,2015091000,1,1,1.0,14,3506.0,38.0,49.0,49.0,10,...,11,608,709,3,32,360,2,32,43,1138

In [43]:
missing_values_table(dropped)

Your selected dataframe has 66 columns.
There are 2 columns that have missing values.

           Missing Values  % of Total Values Data Type
down                 3872                9.0   float64
FirstDown            2549                5.9   float64

In [44]:
path = os.path.join('Final-Datasets', 'NFL-processed.csv')

In [45]:
dropped.shape

(42878, 66)

In [46]:
dropped.to_csv(path,index=False)