In [1]:
import pandas as pd
import os
from utils import drop_categorical_columns
from utils import missing_values_table
import numpy as np

In [2]:
def drop_label_with_null(df, column_name):
    # Drop rows where the specified column is null
    df_cleaned = df.dropna(subset=[column_name])
    return df_cleaned

In [3]:
path = os.path.join('TestDataset', 'Tax.csv')
df = pd.read_csv(path)

df.shape

(99999, 15)

In [4]:
missing_values_table(df)

Your selected dataframe has 15 columns.
There are 1 columns that have missing values.

           Missing Values  % of Total Values Data Type
2.1034775              96                0.1   float64

In [10]:
df.head(10)

,Hennie,Hannenhalli,F,701,163-9973,ROSS,ND,58776,S,Y,30000,2.1034775,3300,0,3300.1
0,Jianjian,Jokiniemi,M,802,698-3590,BURLINGTON,VT,5401,M,Y,60000,4.198854,0,6600,3300
1,Rene,Beke,F,801,619-2334,CORNISH,UT,84308,M,Y,25000,7.000000,0,4950,2475
2,Mansour,Tawfik,M,419,466-1171,CLEVELAND,OH,44111,S,Y,20000,1.209923,1300,0,1300
3,Dushyanth,Khetawat,F,417,131-3931,REPUBLIC,MO,65738,S,Y,40000,6.000000,2100,0,1200
4,Byoung,Claire,F,347,721-3742,NEW YORK,NY,10268,S,Y,100000,4.532927,0,0,1000
5,Elben,Goullioud,F,731,666-7840,FLINTVILLE,TN,37335,S,N,5000,0.000000,0,0,0
6,Yuichiro,Uckun,F,808,605-9466,MOUNTAIN VIEW,HI,96771,S,N,75000,8.250000,1040,0,0
7,PerOlof,Motwani,F,980,848-4643,POTECASI,NC,27867,S,Y,100000,7.830419,3300,0,3300
8,Eduardus,Deineko,M,402,865-6591,BELVIDERE,NE,68315,M,Y,60000,6.840000,0,206,103
9,Eser,Duparc,F,303,587-2027,CARR,CO,80612,S,N,15000,4.630000,0,0,0

In [6]:
# Replace all occurrences of -200 with NaN
df.replace('?', np.nan, inplace=True)

In [7]:
missing_values_table(df)

Your selected dataframe has 15 columns.
There are 1 columns that have missing values.

           Missing Values  % of Total Values Data Type
2.1034775              96                0.1   float64

In [8]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
print(len(categorical_columns))
for col in categorical_columns:
    df[col] = pd.to_numeric(df[col], errors='ignore')
# after those are taken care of we can drop the columns that are still object
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
print(categorical_columns)

8
['Hennie', 'Hannenhalli', 'F', '163-9973', 'ROSS', 'ND', 'S', 'Y']

In [9]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
print(len(categorical_columns))

8

In [80]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Select categorical columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()

# Create a copy of the original dataframe to preserve the original columns
df_encoded = df.copy()

# Create an empty DataFrame to store the encoded columns
encoded_data_frames = []

# Define a list of transformers for each categorical column
for col in categorical_columns:

    # Create dummy variables using OneHotEncoder
    encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
    encoded_data = encoder.fit_transform(df_encoded[[col]])

    # Get column names based on the original column and category
    column_names = [category for category in encoder.get_feature_names_out([col])]

    # Create a DataFrame for the encoded data
    encoded_df = pd.DataFrame(encoded_data, columns=column_names, index=df_encoded.index)

    # Add the encoded DataFrame to the list
    encoded_data_frames.append(encoded_df)

# Concatenate the original DataFrame and the list of encoded DataFrames
df_encoded = pd.concat([df_encoded] + encoded_data_frames, axis=1)

# Drop the original categorical columns
df_encoded.drop(categorical_columns, axis=1, inplace=True)

/Users/aryal/anaconda3/envs/Certain-Models/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [81]:
df_encoded.head(5)

,critical_staffing_shortage_today_yes,critical_staffing_shortage_today_no,critical_staffing_shortage_today_not_reported,critical_staffing_shortage_anticipated_within_week_yes,critical_staffing_shortage_anticipated_within_week_no,critical_staffing_shortage_anticipated_within_week_not_reported,hospital_onset_covid,hospital_onset_covid_coverage,inpatient_beds,inpatient_beds_coverage,...,state_TN,state_TX,state_UT,state_VA,state_VI,state_VT,state_WA,state_WI,state_WV,state_WY
0,16,38,1,18,36,1,2.0,54,4407.0,55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8,70,1,6,72,1,4.0,78,17028.0,79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,9,1,4,9,1,8.0,13,2513.0,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,12,89,1,10,91,1,5.0,101,19087.0,102,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,9,2,4,9,2,7.0,14,2592.0,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
missing_values_table(df_encoded)

Your selected dataframe has 189 columns.
There are 76 columns that have missing values.

,Missing Values,% of Total Values,Data Type
previous_day_admission_pediatric_covid_confirmed_12_17,37041,49.2,float64
previous_day_admission_pediatric_covid_confirmed_5_11,37028,49.2,float64
previous_day_admission_pediatric_covid_confirmed_0_4,36412,48.4,float64
previous_day_admission_pediatric_covid_confirmed_unknown,36296,48.2,float64
staffed_icu_pediatric_patients_confirmed_covid,30149,40.0,float64
...,...,...,...
inpatient_beds_utilization_numerator,264,0.4,float64
inpatient_beds_utilization_denominator,264,0.4,float64
inpatient_beds_used,264,0.4,float64
inpatient_beds_utilization_coverage,264,0.4,float64
inpatient_beds,5,0.0,float64

In [83]:
df_encoded['state_NM']

0        1.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
75282    0.0
75283    0.0
75284    0.0
75285    1.0
75286    0.0
Name: state_NM, Length: 75287, dtype: float64

In [84]:
path = os.path.join('Final-Datasets', 'COVID-encoded.csv')

In [85]:
df_encoded.to_csv(path,index=False)